1_Basic_RegressionModel_SchoolSpecificPercentiles.R
1_Data_Manipulation_EDA.html
3_DensityEstimation.rmd
3_DensityRegression_short.rmd
3_DesignMatrix_ClrTransf.rmd
3_c_Density_Analysis.html
4_DensityRegression_Overview.html
4_DensityRegression_short.html
4_DensityRegression_wCov.html
4_DensityRegression_wCovariates.html
4_DensityRegression_wCovariates.rmd
5_Theory.rmd
A_1_Intro_EDAclasses.html
A_4_FunctionalAdditiveModels.R
A_4_FunctionalAdditiveModels.html
CanadianWeather
GAM_functions
GKMM
Plot_class_densities_gt_table.R
Work_Functions
functionalData.RData
functionalData.rds
packages
sourceFDboost.R
Graphs
Greven_Code
